.tableau {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

.tableau th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.tableau th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

td a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}